/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* Root Container */
#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* App Container */
.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Main Content */
main {
  height: 100vh;
}

/* CV Section */
.cv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* Splash Section */
.splash {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.splash * {
  margin: 0 0.5em;
}

.splash div {
  display: flex;
  flex-flow: column nowrap;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  .splash {
    flex-flow: row nowrap;
  }
}

@media only screen and (max-width: 600px) {
  .splash * {
    max-width: 100%;
  }

  .splash div {
    margin: 1em;
  }
}

/* Resume Section */
#resume {
  text-align: justify;
  margin: 0 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#resume div {
  width: 100%;
  max-width: 800px;
  margin: 1em 0
}

/* Profile Picture */
.profilePic {
  border-radius: 50%;
  max-width: 50vw;
  width: 200px;
}

/* Project Navigation */
.projectNav {
  position: absolute;
  top: 0;
  left: 0;
}

/* Projects Page */
.projectsPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Projects */
.projects {
  display: flex;
  justify-content: center;
}

/* Block Bots */
span.block-bots {
  display: none;
}

/* Navigation */
.navigation {
  position: absolute;
  right: 0;
}

/* Headings */
h1 {
  margin: 0;
}

h4 .company {
  margin: 0;
}

/* Links */
.company,
.company a {
  color: #444;
}

i {
  color: #777;
}

/* Lists */
ul {
  list-style-type: circle;
}

/* List Items */
li {
  text-align: justify;
}

/* Contact List Item */
li.contact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: left;
  align-items: baseline;
}

/* Education List Item */
li.education {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

/* External Links Section */
.linksSection {
  text-align: left;
  float: left;
  height: 0;
  top: 0;
  left: 0;
}

/* External Link */
.exlink {
  padding: 5px;
  width: 30px;
}
